DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=1318340064123555903
DISCORD_GUILD_ID=
ALERT_CHANNEL_ID=1324822899789398036
RECRUITER_ROLE_ID=1296575103152160808
RECRUITER_BYPASS_USER_IDS=680892416672530623
FLEET_ROLE_ID=
ROLES_TO_REMOVE_ON_REGISTER=
ROLES_TO_ADD_ON_UNREGISTER=
WARGAMING_APPLICATION_ID=6b0454e966a9b12d03867db075338f8a

MSG_NO_PERMISSION=You do not have the required role to use this command.
MSG_NO_PERMISSION_ACTION=You do not have the required role to use this action.
MSG_USER_NOT_REGISTERED={user} is not registered.
MSG_REGISTER_NOT_FOUND=No World of Warships account was found for **{ign}**.
MSG_REGISTER_NO_STATS=Wargaming returned no stat data for **{ign}**.
MSG_REGISTER_SUCCESS=Registered {user} as **[{clan}] {ign}**.
MSG_REQUIREMENTS_FAILED=**{ign}** was not registered because these requirements were not met:
MSG_ATTENDANCE_ALERT=Activity: **{ign}** ({user}) has not recorded a random or clan battle in {days} days.
MSG_ATTENDANCE_DM=Activity check: please play at least one random or clan battle within {days} days to remain compliant with clan requirements.
MSG_DAILY_ALERT_HEADER=Daily check alerts:
MSG_UNREGISTER_BUTTON=Unregister User

# Dynamic clan config.
# Add CLAN_4_*, CLAN_5_*, etc. as needed, up to Discord's 25 choice limit.
CLAN_1_TAG=
CLAN_1_ID=
CLAN_1_ROLE_ID=
CLAN_1_MIN_WIN_RATE=
CLAN_1_MIN_RANDOM_BATTLES=
CLAN_1_MIN_TIER_10_SHIPS_PLAYED=
CLAN_1_ATTENDANCE_DAYS=
